<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="106.0.29" targetFramework="net48" />
  <package id="cef.redist.x86" version="106.0.29" targetFramework="net48" />
  <package id="CefSharp.Common" version="106.0.290" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="106.0.290" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Jurassic" version="2.2.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Hosting" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="NCrontab" version="3.3.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net48" />
  <package id="Vidyano.Service" version="5.48.0" targetFramework="net48" />
  <package id="Vidyano.Web2" version="1.19.3" targetFramework="net461" />
  <package id="Vidyano.Web2.Definition" version="1.19.3" targetFramework="net461" />
</packages>